<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Recent Articles</h1>
    </div>
    <div id="recent-articles-show-all">
      <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
    </div>
  </div>
  <br />

  <ul>
    {% for post in site.posts limit:5 %}
    <li class="article-card">
      <a href="{{ post.url }}" class="article-card-link">
        <div class="article-container">
          <div class="article-img">
            {% assign author_data = site.data.authors[post.author] %}
            {% if author_data and author_data.avatar %}
              <img
                src="{{ site.url }}{{ site.baseurl }}/assets/img/authors/{{ author_data.avatar }}"
                width="50px"
                height="50px"
                alt="{{ author_data.name | default: 'Author' }}"
              />
            {% else %}
              <!-- 기본 이미지나 텍스트 -->
              <img
                src="{{ site.url }}{{ site.baseurl }}/assets/img/default-avatar.png"
                width="50px"
                height="50px"
                alt="Default Author"
              />
            {% endif %}
          </div>
        </div>
      </a>
      
          <div id="article-link">
              <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
            </div>
            <div id="article-alert">
            {% for cat in post.category limit:1 %}
             <button class="btn btn-sm btn-dark">{{cat}}</button>
            {% endfor %}
            </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>